body {
    background-color: aquamarine;
}

#header {
    border: none;
    border-radius: 25px;
    width: 1000px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    background-color: rgb(118, 184, 238);
    color: white;
}

#number {
    width: 900px;
    height: 400px;
}

button {
    width: 150px;
    height: 50px;
    color:white;
    background-color: orchid;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    margin: 8px;
    transition: 0.5s;
}

button:hover {
    color: black;
    background-color: orangered;
}

#text {
    width: 500px;
    height: 50px;
    margin-right:25px;
}

#result {
    width: 350px;
    height: 50px;
}

input {
    border-radius: 15px;
    border: 2px solid black;
    background-color: azure;
    font-size: 25px;
}